<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>

    <form action="/api/v1/login" method="post">
        <span>Email:</span>
        <input type="email" id="email" name="email" placeholder="example@mail.com" required>
        <br><br>
        <span>Password:</span>
        <input type="password" id="password" name="password" required>
        <br><br>
        <input type="submit" value="Login">
    </form>
    <br><br>
    <form action="/api/v1/view-change" method="get">
    <input type="submit" value="lupa password">
    </form>

    </form>
    <br><br>
    <form action="/api/v1/view-register" method="get">
    <input type="submit" value="register">
    </form>

    
</body>
</html>